@model RegistrationViewModel

<p>Välkommen till registreringen!</p>
    <form asp-action="Registration">
        <label asp-for="UserName"></label>
        <br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <br />
        <label asp-for="Password"></label>
        <br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <label asp-for="ConfirmPassword"></label>
        <br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
        <br />
        <input type="submit" value="Registrera" />
    </form>

