<ul id="dropdown">
    <li>
        <h4>
            Konto
        </h4>
        <ul>
            <li><a href="~/konto/skapa">Registrering</a></li>
            <li><a href="~/account/login">Login</a></li>

        </ul>
    </li>
    <li>
        <h4>
            Information
        </h4>
        <ul>
            <li><a href="#">Länk 2 - 1</a></li>
            <li><a href="#">Länk 2 - 2</a></li>
            <li><a href="#">Länk 2 - 3</a></li>
        </ul>
    </li>
    <li>
        <h4><a href="home/index">Om oss</a></h4>
    </li>
    <li>
        <h4><a href="#">Start Sidan</a></h4>
    </li>
</ul>