@model LoginViewModel

<div id="Header">
    <a href="index">
        <div id="Logo_1"><h2>Family</h2></div>
        <div id="Logo_2"><h2>Tree</h2></div>
    </a>
    <div id="Header_Intro"><h2>Välkommen till</h2></div>
    <div id="Logotext_1"><h2>Family</h2></div>
    <div id="Logotext_2"><h2>Tree</h2></div>

    <form asp-action="Login" id="LoginIndex">
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <br />
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br /><br />
        <input type="submit" value="Loggain" />
    </form>
</div>
<ul id="dropdown">
    <li>
        <h4>
            Konto
        </h4>
        <ul>
            <li><a href="~/account/registration">Registrering</a></li>
            <li><a href="~/account/login">Login</a></li>

        </ul>
    </li>
    <li>
        <h4>
            Information
        </h4>
        <ul>
            <li><a href="#">Länk 2 - 1</a></li>
            <li><a href="#">Länk 2 - 2</a></li>
            <li><a href="#">Länk 2 - 3</a></li>
        </ul>
    </li>
    <li>
        <h4><a href="home/index">Om oss</a></h4>
    </li>
    <li>
        <h4><a href="#">Start Sidan</a></h4>
    </li>
</ul>