
<div id="PictureContent">

</div>
<div id="InformationContant">
    <p>
        Släktforskning
        <br /><br />
        Sedan några år har släktforskningen flyttat ut mer och mer på nätet,<br />
        och du hittar inte bara kyrkböckerna tillgängliga hemma från skrivbordsstolen,<br />
        utan även inscannade tidningar, domböcker och folkräkningar bara ett par klick bort.<br />
        Det är också lätt att släktforska gratis på nätet.



        På den här sidan får du en introduktion i följande:<br />
        <br />
        •Hur börjar man släktforska?<br />
        •Släktforska på nätet<br />
        •gratis släktforskning på internet - några tips<br />
        •Släktforskningsprogram<br />
        <br />
        Det du behöver är intresse, tid, en dator och ett släktforskningsprogram du gillar att jobba med<br />

    </p>
</div>
<div id="LeftContent">
    <ul id="dropdown">
        <li>
            <h4>
                <a asp-action="Registration" asp-controller="Account">Registrera</a>
            </h4>
            <ul>
                <li><a href="~/account/login">Logga In</a></li>
            </ul>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <h4>
                    <a asp-action="Index" asp-controller="Family">Din Familj</a>
                </h4>

            </li>

        }

        <li>
            <h4><a href="home/index">Start Sidan</a></h4>
        </li>
    </ul>
</div>