<!DOCTYPE html>

<html>
<head>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

        <div>
            @RenderBody()
        </div>

        <div id="Content">

        </div>

        <div id="Footer">
            
            <div id="FooterBox1">
                <h3 id="BoxTextHead1">Test</h3>
                <h4 id="BoxText1">
                    HEJ!!!!!!!!!!
                </h4>
            </div>

            <div id="Line"></div>

            <div id="FooterBox2">
                <h3 id="BoxTextHead2">Text2</h3>
                <h4 id="BoxText2">
                    HEJ??????????
                </h4>
            </div>

        </div>

    <script src="~/Script/jquery.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>
