<!DOCTYPE html>

<html>
<head>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="Header">
        <a href="/Home/index">
            <div id="Logo_1"><h2>Family</h2></div>
            <div id="Logo_2"><h2>Tree</h2></div>
            <p id="Slogan">where Family comes to gether</p>
        </a>
        <div id="Header_Intro"><h2>Välkommen till</h2></div>
        <div id="Logotext_1"><h2>Family</h2></div>
        <div id="Logotext_2"><h2>Tree</h2></div>
    </div>

        <div>
            @RenderBody()
        </div>

        <div id="Content">

        </div>

        <div id="Footer">
            
            <div id="FooterBox1">
                <h3 id="BoxTextHead1">Test</h3>
                <h4 id="BoxText1">
                    HEJ!!!!!!!!!!
                </h4>
            </div>

            <div id="Line"></div>

            <div id="FooterBox2">
                <h3 id="BoxTextHead2">Text2</h3>
                <h4 id="BoxText2">
                    HEJ??????????
                </h4>
            </div>

        </div>

    <script src="~/Script/jquery.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>
