@model LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="Header">
        <a href="/home/index">
            <div id="Logo_1"><h2>Family</h2></div>
            <div id="Logo_2"><h2>Tree</h2></div>
        </a>
        @*<div id="Header_Intro"><h2>Välkommen till</h2></div>*@
        @*<div id="Logotext_1"><h2>Family</h2></div>
        <div id="Logotext_2"><h2>Tree</h2></div>*@


        @if (!User.Identity.IsAuthenticated)
        {
            <form asp-action="Login" asp-controller="Account" id="LoginIndex">
                <label asp-for="UserName"></label><br />
                <input asp-for="UserName" /><br />
                <span asp-validation-for="UserName"></span>
                <br />
                <label asp-for="Password"></label><br />
                <input asp-for="Password" /><br />
                <span asp-validation-for="Password"></span>
                <br /><br />
                <input type="submit" value="Logga In" />
                <a href="~/account/registration" id="RegistrationHederLink">Registrera!</a>
            </form>
        }
        else
        {
            <a asp-action="Logoff" asp-controller="Account" id="Logoff">
                <input type="button" value="Logga Ut!" />
            </a>
        }
    </div>

    <div id="Content">
        <div>
            @RenderBody()
        </div>
    </div>

        <div id="Footer">
            
            <div id="FooterBox1">
                <h3 id="BoxTextHead1">Test</h3>
                <h4 id="BoxText1">
                    HEJ!!!!!!!!!!
                </h4>
            </div>

            <div id="Line"></div>

            <div id="FooterBox2">
                <h3 id="BoxTextHead2">Text2</h3>
                <h4 id="BoxText2">
                    HEJ??????????
                </h4>
            </div>

        </div>

    <script src="~/Script/jquery.min.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>
