@model List<FamilyTree.Models.FamilyMember>
<script src="~/Script/jquery.js"></script>
<a asp-action="Add">Lägg til Familjmedlem</a>
@if(Model.Count != 0)
{
    <table class="family">
        <tr>
            <th>
                Name
            </th>
            <th>
                Relation
            </th>
            <th>
                Add Image
            </th>
            <th>
                Show Images
            </th>
        </tr>
    @foreach(var f in Model)
    {
        <tr>
            <td>
                @f.Name
            </td>
            <td>
                @f.Relation
            </td>
            <td>
                <a asp-action="Add" asp-controller="Image" asp-route-fmId="@f.Id">Add Image</a>
            </td>
            <td>
                <a href="#" id="imageshow-@f.Id" >Toggle Images</a>
                <br />
                <div id="showimages-@f.Id" style="display:none"></div>
                <script type="text/javascript">
                $('#imageshow-'+@f.Id).click(function()
                {
                    $.get("/Image/ViewImages/",
                        { fmId : @f.Id },
                        function(html){
                        $("#showimages-"+@f.Id).toggle().html(html);
                    });
                });
                </script>
            </td>
        </tr>


    }
        </table>
}
else
{
    <p> No family members added for this users</p>
}