body {
    background-image: url('../img/startpagepic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 400px 300px;
}
#Header{
    width:auto;
    height: 200px;
    padding: 5px 5px 5px 0;
    margin: 10px auto 0;
    background-color:#4fb575;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#dropdown {
    float: left;
    text-align: center;
    padding-left:280px;
    padding-top:130px;
    
        

}
#dropdown li {
     background-color:#c05b0b;
     border:1px solid #666;
     float: left;
     list-style: none;
     margin: 0;
     padding:0 0 0 10px;
     position: relative;
     height:45px;
     width:150px;
     border-radius: 10px 10px 10px 10px;
}
#dropdown li:hover {
    background-color:greenyellow;
}
#dropdown li a {
    text-decoration:none;
    
}
#dropdown ul {
     display: none;
     margin: 0;
     padding: 0;
     position: absolute;
     top: 46px;
     left: -1px;
     z-index: 500;
}
#dropdown ul {
    position: absolute;
}
#dropdown li:hover ul {
     display: block;
}

/*----------------Footer------------------*/

#Footer{
    background-color: gray;
    width: auto;
    height: 300px;
    margin-top: 210px;

}

#FooterBox1{
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-left: 30%;
    float: left;
}

#BoxTextHead1{
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-size: 1.55em;
    margin-bottom: 23px;
    text-transform: uppercase;
}

#BoxText1{
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 23px;
    text-transform: uppercase;
}

#Line{
    width: 1px;
    height: 200px;
    background-color: white;
    float: left;
    margin-top: 0px;
}

#FooterBox2{
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-left: 46%;
}

#BoxTextHead2{
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-size: 1.55em;
    margin-bottom: 23px;
    text-transform: uppercase;
}

#BoxText2{
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 23px;
    text-transform: uppercase;
}

/*----------------Footer------------------*/

#Content{
    background-color: transparent;
    width: auto;
    height: 400px;
}