#Header_Intro{
    text-align:center;
}
a{
        text-decoration: none;
}
#Logo_1{

    margin-left:15px;
    margin-top:-10px;
    float:left;
    color:blueviolet;
    font-family: cursive
    
}
#Logo_2{
    margin-top: -5px;
    color:aqua;

}
#Logotext_1{

    margin-left:670px;
    margin-top:-45px;
    float:left;
    color:blueviolet;
    font-family: cursive
    
}
#Logotext_2{
    margin-top: -20px;
    color:aqua;
}

body {
    background-image: url('../img/startpagepic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 400px 300px;
}
#Header{
    width:auto;
    height: 200px;
    padding: 5px 5px 5px 0;
    margin: 10px auto 0;
    background-color:#4fb575;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#dropdown {
    float: left;
    text-align: center;
}
#dropdown li {
     background-color:#4fb575;
     border:1px solid #666;
     list-style: none;
     margin-left:-42px;
     padding:0 0 0 10px;
     position: relative;
     height:45px;
     width:150px;
     border-radius: 10px 10px 10px 10px;
}
#dropdown li:hover {
    background-color:greenyellow;
}
#dropdown li a {
    text-decoration:none;
    
}
#dropdown ul {
     display: none;
     margin: 0;
     padding: 0;
     position: absolute;
     top: 46px;
     left: -1px;
     z-index: 500;
     margin-left:205px;
     margin-top:-47px;
}
#dropdown ul {
    position: absolute;
}
#dropdown li:hover ul {
     display: block;
}

